{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>A jQuery Countdown Timer | Tutorialzine Demo</title>
        
        <!-- Our CSS stylesheet file -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />
        <link rel="stylesheet" href="{%static 'timecounter/css/styles.css'%}" />
        <link rel="stylesheet" href="{%static 'timecounter/countdown/jquery.countdown.css'%}" />
        
        
        
        <!-- JavaScript includes -->
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="{%static 'timecounter/countdown/jquery.countdown.js'%}"></script>
		<script src="{%static 'timecounter/js/script.js'%}"></script>
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    
    <body>

		<div id="countdown"></div>



    </body>
</html>

